body {
  width: 80%;
  min-width: 600px;
  max-width: 100%;
  margin: auto;
  font-family: $verdana;
}
.has-notice {
  background-color: $yellow;
}
.has-success {
  background-color: $green;
}
.has-error {
  background-color: $red;
}
.current_user_account, .current_user_transaction {
  background-color: $light-green;
}
nav {
  display: inline-block;
  ul {
      list-style: none;
      line-height: 2em;
    li {
      float: left;
      width: 200px;
      border-left: 1px solid black;
      text-align: center;
      a:link {
        text-decoration: none;
        color: black;
      }
      a:visited {
        color: black;
      }
    }
    li:last-child {
      border-right: 1px solid black;
    }
}
