.button-group {
  @include outer-container;
  width: 200px;
  float: left;
  .sign-in-button {
    @include span-columns(6);
  }
  .sign-up-button {
    @include span-columns(6);
    padding-top: 8px;
  }
}