$money-green: #218C2A;
$yellow: yellow;
$green: green;
$red: red;
$light-green: rgba(28, 216, 99, 1);
$grey: #AAA;
$dark-grey: #333;
$white: white;

$line-height: 15px;
$font-size: 12px;
$font-primary: $verdana;
$font-color: $base-font-color;