<h1> Update Transaction </h1>

<%= form_for(:transaction, :url => {:action => 'update', :id => @transaction.id}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <%= submit_tag("Update Transaction") %>

<% end %>

