<h1> Create Transaction </h1>

<%= form_for(:transaction, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <%= submit_tag("Create Transaction") %>

<% end %>