<!DOCTYPE html>
<html>
  <head>
    <title>Budgeting Tool</title>
  </head>
  <body>
    <div id="header">
      <h1>Budgeting Tool</h1>
    </div>
    <% if !flash[:notice].blank? %>
      <div>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <!-- Main Body -->
    <div id="main">
      <%= yield %>
    </div>
    <!-- End of Main Body -->
    <div id="footer">
      <p id="copyright">&copy; Budgeting Tool / Tony Tang</p>
    </div>
  </body>
</html>
