<h1> Create Account </h1>

<%= form_for(:account, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <%= submit_tag("Create Account") %>

<% end %>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nobis quasi natus velit, reprehenderit debitis doloribus placeat sunt adipisci, aliquid nemo, in fuga. Blanditiis odio explicabo, labore libero illum eligendi!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ab, debitis nemo alias illo consectetur voluptatibus veritatis reiciendis dicta perspiciatis vel dolore quos illum veniam eligendi voluptatem repellendus expedita rem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptatibus mollitia minima ullam blanditiis saepe quam quo recusandae voluptatum itaque, reiciendis molestiae doloribus. Quidem explicabo quam iusto ducimus ipsum quas?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero suscipit magnam ab deleniti nostrum repellat quod cumque voluptates a praesentium, alias harum! Quod doloremque, illum suscipit, repellat autem quia modi!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ut blanditiis quia nemo animi at fugiat nesciunt officia expedita, laudantium aut inventore, architecto accusamus impedit ipsa. Pariatur est facilis, earum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora eligendi quia, optio fugiat eaque nam deserunt iusto commodi recusandae illo explicabo, nemo, ab, quas a magnam mollitia magni minima provident.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis tempora eaque modi cumque reprehenderit delectus distinctio, est fuga obcaecati harum vitae consequatur molestias, corporis impedit accusamus libero quia tenetur reiciendis.