<h1> Create Account </h1>

<%= form_for(:account, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <%= submit_tag("Create Account") %>

<% end %>
